button{
  width: 100px;
  height: 40px;
}
.App{
  width: 100vw;
  height: 40vw;
}
.carousel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}
.grid{
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.grid>ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}
.grid>ul>li{
  list-style-type: none;  
}
